Dear [$TO_NAME$],<br /><br />

[$THREAD_OWNER_NAME$] has bumped the following thread: [$THREAD_NAME$]<br /><br />

<a href="[$THREAD_URL$]">View thread.</a><br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />