.portlet-journal-content {
	.journal-content-article {
		img {
			max-width: 100%;
		}
	}
}

.portlet-content {
	.taglib-text-icon {
		border-bottom: 1px solid gray;
		color: #6B6C7E;
		display: block;
		font-weight: bold;
		text-transform: uppercase;
	}
}